
	<div id="products">
	  <% @products.each do |product| %>
	    <div class="product">
	      <h2 class="title">
	        <%= product.title %>
	      </h2>
	      <p class="price">
	      	<span>$ </span>
	        <span><%= product.price %></span>
	      </p>
          <%= link_to 'Edit', edt_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
          <a href="/cart/<%= product.id %>">Add to Cart</a>
	    </div>
	  <% end %>
	</div>