<!DOCTYPE html>

<head>
  <title>Cart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> Rails Cart </a>
    </div>


  <ul class="nav navbar-nav navbar-right">
    <% if !current_user %>
      <li> 
        <%= link_to "Sign up", new_user_registration_path %> 
      </li>
      <li> 
        <%= link_to "Sign in", new_user_session_path %> 
      </li>
    <% else %>
      <li> 
        <%= link_to("Sign Out", destroy_user_session_path, 
                          method: :delete ) %> 
      </li>
    <% end %>
  </ul>
    </nav>

<%= yield %>

</body>

